VITE_FIREBASE_API_KEY=AIzaSyCqKXQJKXObwyXpVS3bITdXiIumhGlMg6w
VITE_FIREBASE_AUTH_DOMAIN=festamae-36e11.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=festamae-36e11
VITE_FIREBASE_STORAGE_BUCKET=festamae-36e11.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=112782501393
VITE_FIREBASE_APP_ID=1:112782501393:web:c612e27e4ac466c61333b0
VITE_FIREBASE_MEASUREMENT_ID=G-DLPJYRZN0Q
